p{
    font-size: 1.5rem;
}
body{
    text-align: center;
    height: 20vh;
    margin: auto;
    width: 70vw;
}

header{
    background-color: rgba(0,0,255,.1);
    font-size: 3.5rem;
    font-weight: 600;
    color: rgba(0,0,255,.5);
}

.completed-button,.delete-button{
    display: inline;
}
